.testimonials{
    padding: 3rem 1.35rem;
}

.testimonial{
    display: grid;
    gap: 1.7rem;
    text-align: center;
    padding: 1.5rem 0 ;

    &__profile{
        width: 3.2rem;
        border-radius: 100vw;
        margin-inline: auto;
    }
}
