.header{
    .nav{
        &__link{
            font-family: $font-sans;
            font-weight: $fw-semibold;
            text-decoration: none;
            color: $clr-white;
        }
    }

    .hero{
        &__header{
            font-size: 2.235rem;
            font-weight: $fw-black;
            padding: 1rem;
            line-height: 1.2;
            letter-spacing: 5px;
            color: $clr-white;
            text-transform: uppercase;
        }
    }
}

.feature{
    &__header{
        font-size: 1.78rem;
        line-height: 1.1;
    }

    &__text{
        font-family: $font-sans;
        font-size: 1rem;
        color: $clr-neutral-300;
        line-height: 30px;
        letter-spacing: -0.13px;
    }

    &__link{
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9rem;
        color: $clr-neutral-700;
        font-weight: $fw-black;

    }
}