// Colors 
$clr-light-100 : hsl(7, 99%, 70%) ;
$clr-light-200 : hsl(51, 100%, 49%);

$clr-dark-400: hsl(166, 40%, 24%);

$clr-dark-300: hsl(198, 62%, 26%);
$clr-dark-100: hsl(168, 34%, 41%);

$clr-footer : hsl(165, 44%, 69%); 

$clr-neutral-700 : hsl(212, 27%, 19%);

$clr-neutral-700 : #23303e;

$clr-neutral-600 : hsl(213, 9%, 39%);
$clr-neutral-400 : hsl(223, 10%, 55%);
$clr-neutral-300 : hsl(210, 4%, 67%);
$clr-white : hsl(0, 0%, 100%);

// Fonts 
$font-sans : 'Barlow', sans-serif;
$font-serif : 'Fraunces', serif ;

$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

$size-100: 1rem;
$size-150: 1.5rem;
$size-200: 2rem;
$size-250: 2.5rem;
$size-300: 3rem;
$size-350: 3.5rem;
$size-400: 4rem;
$size-450: 4.5rem;
$size-500: 5rem;
$size-550: 5.5rem;
$size-600: 6rem;
$size-650: 6.5rem;
$size-700: 7rem;







