.header{
    background-image: url("/assets/images/mobile/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 65vh;
    padding: 1.3rem;
    position: relative;

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo{
            width: 6.8rem;
        }

        &__list{
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            list-style: none;
            display: none;
        }

        &__menu{
            background: transparent;
            border: none;
            outline: none;
        }
    }

    .hero{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%) translateY(-25%);

        &__icon{
            position: absolute;
            top: 150%;
            left: 46%;
            transform: translateX(-50%);
            animation: updown 1s 2s infinite;
        }
    }
}

