.header{
    background-image: url("/assets/images/mobile/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    &__box{
        padding: 1.2rem;
    }

    &__arrow{
        margin-inline: auto;
        padding-bottom: 8rem;
        animation: updown 1s ease-in-out infinite;
    }
}

.navigation{
    display: flex;
    justify-content: space-between;

    &__logo{
        width: 5rem;
    }

    &__list{
        display: flex;
        list-style: none;
        gap: $size-100;
        display: none;
    }
}