.feature{
    display: grid;
    text-align: center;
    color: $clr-neutral-700;

    &__textbox{
        padding: 3rem 1.5rem;
        display: grid;
        gap: 1.2rem;
    }

    &__linkbox{
        position: relative;
    }

    &__link{
        &:hover + &-shadow{
            &--transform{
            background: $clr-light-200;
            }

            &--stand{
                background: $clr-light-100;
            }
        }
    }

    &__link-shadow{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        height: 8px;
        width: max-content;
        padding-inline: 3.5rem;
        border-radius: 50vw;
        transition: all 200ms ease-in-out;

        &--transform{
            background: rgba($clr-light-200, 0.3);
        }

        &--stand{
            background: rgba($clr-light-100, 0.4);
        }
    }

}

.service{
    position: relative;
    min-height: 33.34rem;
    max-height: 925px;

    &__textbox{
        position: relative;
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: $clr-dark-400;
        padding: 1.3rem;
        width: 22.1rem;
        margin-inline: auto;

        display: grid;
        gap: 1rem;

        &--graphic{
            color: $clr-dark-400;
        }
        &--photo{
            color: $clr-dark-300;
        }
    }
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}